name: Deploy to WordPress.org

on:
  release:
    types: [released]

jobs:
  publish-to-wporg:
    name: Publish plugin to WPORG
    runs-on: ubuntu-latest
    environment:
      name: wporg
      url: https://wordpress.org/plugins/wc-moldovaagroindbank/
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Composer dependencies
      run: composer install --no-dev --prefer-dist --optimize-autoloader

    - name: WordPress Plugin Deploy
      uses: 10up/action-wordpress-plugin-deploy@stable
      env:
        SVN_USERNAME: ${{ vars.WPORG_SVN_USERNAME }}
        SVN_PASSWORD: ${{ secrets.WPORG_SVN_PASSWORD }}
